/*

this CSS file contains custom styles for specific layout adjustments 

*/
.white-color {
    color: #ffffff !important;
}
@media (max-width: 1100px) {
.gap-col-d {flex-direction: column;align-items: flex-start !important;}

}
